﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirecting</title>
</head>
<body>
<div>
    Redirecting
    <script>
        window.setTimeout(function() { window.location.href = "/swagger"; }, 100);
    </script>
</div>
</body>
</html>
